:root {
    font-family: "Poppins";
    --color-primary: #1C1E53;
    --color-secondary: #EEF4FA;
    --color-tertiary: #FCD980;
    --font: #fafafa;
}

body {
    font-family: "Poppins";
}

/* -- HEADER -- */

#navbar {
    background-color: var(--color-primary);
}

.navbar-brand {
    color: var(--font);
}

.navbar-brand:hover {
    color: var(--color-tertiary);
}

.nav-link {
    color: var(--font);
}

.nav-link img {
    width: 10px;
}

.nav-link:hover {
    color: var(--color-tertiary);
}

.offcanvas-header .offcanvas-title {
    color: var(--font);
}
.navbar-toggler-icon {
    /* color: #fafafa;
    background-color: #fafafa; */
}

.btn {
    color: var(--font);
}

.btn-login {
    border-color: var(--font);
}

/* -- HERO -- */

#hero {
    background-color: var(--color-primary);
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-content {
    color: white;
}

.hero-content h1 {
    line-height: 160%;
    font-size: 38px;
}

.hero-content p {
    margin-top: 20px;
    margin-bottom: 60px ;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.hero-content .button-hero {
    background-color: var(--color-tertiary);
    color: #000;
    padding: 10px 30px;
}

.hero-content .button-hero:hover {
    background-color: #f8c442;
}

.hero-content .arrow {
    width: 20px;
}

.hero-image {
    width: 500px;
}


/* -- DATA -- */
#data {
    background-color: var(--color-secondary);
    height: 30vh;
}

#data .box-data h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
}

#data .box-data h3 span {
    font-weight: 400;
    font-size: 14px;
}

.data-text {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.data-text img {
    width: 16px; 
    margin-right: 5px;
}

/* FEATURES */

.features {
    margin-top: 100px;
}

.features-content h1 {
    margin-bottom: 5%;
}

.features-content .row img {
    width: 30px;
}

.features-content .card {
    padding: 30px;
    background-color: #F4F6FC;
    border: none;
    border-radius: 0;
}

.card h3 {
    font-size: 18px;
    font-weight: 500;
}

.card p {
    font-size: 12px;
}

/* TENTANG KAMI */

.tentang-kami {
    width: 100%;
    margin-top: 100px;
}

.tentang-kami span {
    font-size: 12px;
}

.tentang-kami p {
    font-size: 14px;
}

.tentang-kami img {
    max-width: 500px;
}

/* KURSUR */

.kursus {
    margin-top: 100px;
}

.kursus .dropdown {
    width: 100%;
}

.card {
    border-radius: 0;
    border: 0;
}

.card img {
    border-radius: 0;
}

/* TESTIMONI */

.testimoni {
    background-color: var(--color-secondary);
}

.testimoni .people .photo img {
    width: 50px;
    border-radius: 50px;
}


/* FAQ */

.faq {
    margin: 100px 0;
}

/* REGISTRATION */

.registration .box {
    max-height: 700px;
}

.registration .box-left {
    background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,.6)), url("https://res.cloudinary.com/ddzkvbulh/image/upload/v1689152365/regis-img_vll6cq.png");
    background-size: cover;
    padding: 100px;
    color: var(--font);
}

.registration .box-left h2 {
    font-size: 40px;
    font-weight: 600;
}

.registration .box-left p {
    font-size: 12px;
    font-weight: 400;
}

.registration .box-right {
    background-color: var(--color-primary);
    color: #fafafa;
    padding: 100px;
}

.registration .box-right .btn {
    background-color: var(--color-tertiary);
    color: #000;
    font-weight: 600;
    letter-spacing: .25rem;
}

/* BLOG */

.box-content .card img {
    width: 250px;
}