:root {
  font-family: "Poppins";
  --primary: #1c1e53;
  --font: #282938;
  --yellow: #fcd980;
  --white: #fafafa;
}

body {
  font-family: "Poppins";
}
/*navbar*/
.navcol {
  background-color: #1c1e53;
}
.navbar-brand {
  color: var(--white);
}
.offcanvas-header .offcanvas-title {
  color: var(--white);
}
.offcanvas-body .nav-link {
  color: var(--white);
}
.navbar-toggler-icon {
  background-color: white;
  color: white;
}
.breadcrumba {
  background-color: #eef4fa;
}
.breadcrumb-item a {
  text-decoration: none;
}
/*filtering */
li .filtering {
  color: var(--font);
}

/*artikel*/
.course-card {
  text-decoration: none;
  color: var(--font);
}
.imgcourse {
  max-height: 100%;
  max-width: 100%;
}
.title {
  font-size: 24px;
}
.desc {
  font-size: 16px;
}
.icon-text {
  display: flex;
  align-items: center;
  white-space: pre;
}
.rating-box {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #ffffff;
  border: 1px solid #f8d72a;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #f8d72a;
  margin-right: 5px;
}

.rating-text {
  font-size: 14px;
  font-weight: bold;
  color: #f8d72a;
}
.course-card {
  position: relative;
}

.rating-box {
  position: absolute;
  top: 99px;
  right: 10px;
  background-color: #1c1e53;
  border: 1px solid #1c1e53;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #fcd980;
  margin-right: 5px;
}

.rating-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
}
/*plagination*/
.btn-yellow {
  background-color: #eeeaea;
  color: white;
  font-weight: bold;
}
.pagination .page-item.active .page-link {
  background-color: var(--yellow);
  border-color: var(--yellow)
  color: white;
}
/*footer*/
.foootercolor {
  background-color: var(--primary);
}
.footetitle {
  font-size: 24px;
}
.footerdes {
  font-size: 16px;
}
.menufooter {
  font-size: 20px;
}
..menufooter {
  font-size: 18px;
}
.boxfoooter {
  background-color: var(--yellow);
  width: 420px;
  height: 88px;
}
@media (max-width: 768px) {
  .boxfoooter {
    width: 80%;
    height: 80%;
    padding: 5px;
    margin: 0;
  }
}
.footerboxtitle {
  color: var(--font);
}
.footerbw1 {
  color: var(--font);
}
.footerbw2 {
  color: var(--font);
}
/*Detail Artikels*/
.titledetail1{
  color: var(--font);
  font-size:24px;
}
.titledetail2{
  color: var(--font);
  font-size: 38px;
}
.titledetail3{
  color: var(--font);
  font-size: 16px;
}