:root {
  font-family: "Poppins";
  --primary: ##1c1e53;
  --font: #282938;
  --yellow: #fcd980;
  --white: #fafafa;
}

body {
  font-family: "Poppins";
}
/*navbar*/
.navcol {
  background-color: #1c1e53;
}
.navbar-brand {
  color: var(--white);
}
.offcanvas-header .offcanvas-title {
  color: var(--white);
}
.offcanvas-body .nav-link {
  color: var(--white);
}
.navbar-toggler-icon {
  background-color: white;
  color: white;
}
.breadcrumba {
  background-color: #eef4fa;
}
.breadcrumb-item a {
  text-decoration: none;
}

/*artikel*/
.course-card {
  text-decoration: none;
  color: var(--font);
}
.imgcourse {
  max-height: 100%;
  max-width: 100%;
}
.title {
  font-size: 24px;
}
.desc {
  font-size: 16px;
}
.icon-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.rating-box {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #ffffff;
  border: 1px solid #f8d72a;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #f8d72a;
  margin-right: 5px;
}

.rating-text {
  font-size: 14px;
  font-weight: bold;
  color: #f8d72a;
}
.course-card {
  position: relative;
}

.rating-box {
  position: absolute;
  top: 99px;
  right: 10px;
  background-color: #1c1e53;
  border: 1px solid #1c1e53;
  border-radius: 30px;
  padding: 3px;
  display: flex;
  align-items: center;
}

.rating-star {
  color: #fcd980;
  margin-right: 5px;
}

.rating-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
}
